.contacto {
    justify-content: space-around;
    font-size: 20px;
    padding: 20px
}

.inline {
    inline-size: 1px;
}

.botones {
    border-radius: 5px;
    width: 200px;
    text-transform: uppercase;
}

.alerta {
    margin-top: 20%;
}

#aler {
    color: black;
    background-color: chocolate;
}