.noved {
    width: 100%;
    background: #5d7d87;
    padding: 20px;
    .nov {
        justify-content: space-around;
        padding: 30px 0px 30px 0px;
    }
    .h2-nov {
        border-bottom: 2px solid black;
    }
}

.video {
    height: 500px;
}

.titulo-tipo {
    color: black;
    padding: 15px;
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
}

.descripcion {
    text-align: center;
    padding: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: white;
    height: 15rem;
}

.hov {
    cursor: pointer;
}

.hov:hover {
    box-shadow: blue 10px 0px 25px;
}

.texto-tipo {
    font-size: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-family: auto;
    font-family: 'Kaisei HarunoUmi', serif;
}

.img-producto {
    padding: 20px;
}

.uppercase {
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .novedad {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .novedad {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .descripcion {
        height: 8rem;
    }
    h6 {
        display: none;
    }
}