* {
  margin: 0;
  padding: 0;
}

header {
  background-size: cover;
  background-position: center;
  height: 600px;
  /* recordar colocar display none cuando utilizamos para otra pagina que no sea home */
}

header nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: solid 1px white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .marca #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .marca h1 {
  color: black;
  text-transform: uppercase;
  margin-top: 7%;
  color: white;
}

header .menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu :hover {
  background-color: black;
}

header .menu li {
  padding: 10px;
  list-style: none;
  background: #59635c99;
}

header .menu li a {
  text-decoration: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header .nuevasUnidades {
  margin-left: 5%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-top: 9%;
}

header .nuevasUnidades .nuevo208 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: white solid 1px;
  border-right: white solid 1px;
  padding: 10px;
}

header .nuevasUnidades .nuevo208 #boton {
  text-decoration: none;
  font-size: 30px;
  background: white;
  padding: 5px 20px 5px 20px;
  color: black;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #456789;
  max-width: 200px;
  background: #234567;
  font-variant: small-caps;
  text-shadow: 1px 1px black;
}

.inco {
  background-image: url(../img/menu.png);
}

.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.respmenu .fa-bars,
.respmenu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  color: white;
  position: relative;
  min-height: 48px;
  display: none;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

.novedad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bg_img-index {
  background-image: url(https://www.peugeot.com.ar/content/dam/peugeot/argentina/b2c/our-range/nouvelle-208/nuevo208/MastheadWeb.jpg?imwidth=1343);
}

.bg_img-gama {
  background-image: url(https://www.peugeot.com.ar/content/dam/peugeot/argentina/b2c/our-range/new-5008-suv/nuevo-5008/1a-Mastehead_2880x1620_Desktop.jpg?imwidth=1042);
}

.bg_img-financiacion {
  background-image: url(https://www.peugeot.com.ar/content/dam/peugeot/argentina/b2c/our-range/308-sw/l-m/308sMasthead.jpg?imwidth=1349);
}

.bg_img-contacto {
  background-image: url(https://www.peugeot.com.ar/content/dam/peugeot/argentina/b2c/our-range/new-2008-suv/l-m/2008-Masthead-Component-Desktop.jpg?imwidth=1349);
}

.bg_img-nosotros {
  background-image: url(https://www.peugeot.com.ar/content/dam/peugeot/argentina/b2c/our-range/partner-patagonica/im%C3%A1genes/MastheadWebPartnerPatagonica.jpg?imwidth=1349);
}

@media (max-width: 768px) {
  header.navegador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: none;
  }
  .respmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer {
  background-image: url(https://www.chamonixsa.com.ar/img/b-feature-bg.jpg);
  background-size: cover;
  background-position: center;
}

footer .caja {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .caja .pieDePagina {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  color: black;
  background-color: #c1bebe82;
  border-radius: 15px;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 20px;
  font-family: 'Kaisei HarunoUmi', serif;
}

footer .logoFondo {
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.noved {
  width: 100%;
  background: #5d7d87;
  padding: 20px;
}

.noved .nov {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0px 30px 0px;
}

.noved .h2-nov {
  border-bottom: 2px solid black;
}

.video {
  height: 500px;
}

.titulo-tipo {
  color: black;
  padding: 15px;
  text-align: center;
  font-family: 'Kaisei HarunoUmi', serif;
}

.descripcion {
  text-align: center;
  padding: 20px;
  font-family: 'Kaisei HarunoUmi', serif;
  background-color: white;
  height: 15rem;
}

.texto-tipo {
  font-size: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: auto;
  font-family: 'Kaisei HarunoUmi', serif;
}

.img-producto {
  padding: 20px;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .novedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .novedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .descripcion {
    height: 8rem;
  }
  h6 {
    display: none;
  }
}

main {
  background: #5d7d87;
}

main .nosotros {
  border: 1px solid white;
  border-radius: 5px;
  margin: 0px 20px 20px 20px;
}

main .nosotros .parrafo {
  color: black;
}

main .fuera {
  width: 500px;
}

main .img_nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

main .txt-aling {
  text-align: center;
}

@media (max-width: 768px) {
  .img_nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-gama {
  padding: 25px;
}

.main-gama .titulo {
  padding: 10px;
}

.main-gama .boton {
  padding: 20px;
}

.main-gama .hover:hover {
  background-color: black;
}

.elige {
  padding: 20px;
}

.opciones {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.opciones .imagenes {
  height: 250px;
}

.texto {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacto {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  padding: 20px;
}

.inline {
  inline-size: 1px;
}

.botones {
  border-radius: 5px;
  width: 200px;
  text-transform: uppercase;
}

.alerta {
  margin-top: 20%;
}

#aler {
  color: black;
  background-color: chocolate;
}
/*# sourceMappingURL=style.css.map */